.info {
    padding: 0 148px;
    height: calc(80vh - 80px);
    gap: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

}
.info .accent {
    color: #DE8321;
}
.info img {
    width: 400px;
    height: 480px;

    border-radius: 140px;
}

.info .description h1 {
    margin-bottom: 40px;

    font-size: 44px;
}
.info .description p {
    margin-bottom: 45px;

    font-size: 20px;
}
