nav {
    margin: 10px;
    padding: 20px 148px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    background-color: #FFFFFF;
    font-weight: 600;

    border: 5px solid #DE8321;
    border-radius: 50px;
}

nav .logo {
    gap: 20px;

    display: flex;
    align-items: center;

    color: #404040;
    font-size: 20px;
    font-weight: bold;
}
nav .logo img {
    width: 100px;
    height: 92px;
}

nav .navigation {
    gap: 80px;

    display: flex;

    font-size: 25px;
}

nav .navigation a {
    transition: color 0.3s ease;
}

nav .navigation a:hover,
nav .navigation a.selected {
    color: #DE8321;
}